﻿@model ECTable.Admin.ViewModels.ManagerEditViewModel
@{
    ViewBag.Title = "AddManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                if (ViewData["Message"].ToString().IndexOf("成功") != -1)
                {
                    <text>
                    alert('@ViewData["Message"].ToString()');
                    document.location.href = '@Url.Action("ManagerList")';
                    </text>
                }
                else if (ViewData["Message"].ToString().IndexOf("你的帳號沒有權限新增") != -1)
                {
                    <text>
                    alert('@ViewData["Message"].ToString()');
                    document.location.href = '@Url.Action("ManagerList")';
                    </text>
                }
                else
                {
                    {
                    <text>
                        alert('@ViewData["Message"].ToString()');
                    </text>
                }
                }
            }
        });

        function getSubmit() {
            var uid = $("#Uid");
            var pwd = $("#Pwd");
            var chkPwd = $("#ChkPwd");
            var error = "";
            if (uid.val() == '') {
                error += '帳號 不能為空白\n';
            }
            else {
                if (IsStr(uid.val()) == false) {
                    error += '帳號 只能輸入英數字\n';
                }
                else {
                    if (uid.val().length <= 3) {
                        error += '帳號 至少要4個字元\n';
                    }
                    else {
                        $.ajax({
                            url: '@Url.Action("CheckManagerUid", "Manager")',
                            type: 'POST',
                            data: { Uid: uid.val() },
                            success: function (data) {
                                //資料更新完重整選單
                                if (data == 1) {
                                    alert('已有此帳號，請重新輸入');
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('系統維護中');
                            }
                        })
                    }
                }
            }
            if (pwd.val() == '') {
                error += '密碼 不能為空白\n';
            }
            else {
                if (IsStr(pwd.val()) == false) {
                    error += '密碼 只能輸入英數字\n';
                }
                else {
                    if (pwd.val().length <= 5) {
                        error += '密碼 至少要6個字元\n';
                    }
                }
            }
            if (pwd.val() != chkPwd.val()) {
                error += '密碼與確認密碼不同\n';
            }
            if (error != '') {
                alert(error);
                return false;
            } else {
                $("#AddForm").submit();
            }
        }
        function IsStr(v) {
            var vArr = v.match(/^[A-Za-z0-9]+$/);
            if (vArr == null) {
                return false;
            } else {
                return true;
            }
        }
    </script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 帳號管理</div>
    <h1>.:: 帳號管理</h1>
    <article class="Padding2">
        <h2>Step.1 新增帳號設定</h2>
        @using (Html.BeginForm("AddManager", null, null, FormMethod.Post, new { @id = "AddForm", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.Id)

            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductWay" class="STable">
                <tr>
                    <th><label for="CreateTime">新增時間</label></th>
                    <td><input name="CreateTime" type="text" class="Form100" id="CreateTime" value="@Model.CreateTime" required disabled /></td>
                </tr>
                <tr>
                    <th><label for="Uid">帳號</label></th>
                    <td><input name="Uid" type="text" required class="Form100" id="Uid" value="@Model.UID" size="100" maxlength="32" /></td>
                </tr>
                <tr>
                    <th><label for="Status">狀態</label></th>
                    <td>
                        <label>
                            <input type="radio" name="Status" value="1" id="Status1" @if (Model.Status == 1) { <text> checked="checked" </text>     }>啟用
                        </label>
                        <label>
                            <input type="radio" name="Status" value="0" id="Status2" @if (Model.Status == 0) { <text> checked="checked" </text>      }>停用
                        </label>
                    </td>
                </tr>
                <tr>
                    <th><label for="IsUserPower">超級管理員</label></th>
                    <td>
                        <label>
                            <input type="radio" name="IsUserPower" value="1" id="IsUserPower1" @if (Model.IsUserPower == 1) { <text> checked="checked" </text>        }>是
                        </label>
                        <label>
                            <input type="radio" name="IsUserPower" value="0" id="IsUserPower2" @if (Model.IsUserPower == 0) { <text> checked="checked" </text>          }>否
                        </label>
                    </td>
                </tr>
                <tr>
                    <th><label for="Pwd">密碼</label></th>
                    <td>
                        <input name="Pwd" type="password" required class="Form100" id="Pwd" size="100" maxlength="20" />
                    </td>
                </tr>
                <tr>
                    <th><label for="ChkPwd">確認密碼</label></th>
                    <td>
                        <input name="ChkPwd" type="password" required class="Form100" id="ChkPwd" size="100" maxlength="20" />
                    </td>
                </tr>
            </table>

            <input name="Submit" type="button" class="submitBtm" id="SendButton" value="送出" onclick="getSubmit()" />
        }
    </article>
</section>



