﻿@model ECTable.Admin.ViewModels.ManagerEditViewModel
@{
    ViewBag.Title = "EditManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                if (ViewData["Message"].ToString().IndexOf("成功") != -1)
                {
                    <text>
                    alert('@ViewData["Message"].ToString()');
                    document.location.href = '@Url.Action("ManagerList")';
                    </text>
                }
                else if (ViewData["Message"].ToString().IndexOf("沒有權限") != -1 || ViewData["Message"].ToString().IndexOf("無此帳號") != -1)
                {
                    <text>
                    alert('@ViewData["Message"].ToString()');
                    document.location.href = '@Url.Action("ManagerList")';
                    </text>
                }
                else
                {
                    <text>
                        alert('@ViewData["Message"].ToString()');document.location.href = '@Url.Action("ManagerList", 
                        new {
                            pageNo = ViewData["PageNo"].ToString(),
                            pageSize = ViewData["PageSize"].ToString()
                        })';
                    </text>
                }
            }
        });

        function getSubmit() {            
            var pwd = $("#Pwd");
            var chkPwd = $("#ChkPwd");
            var error = "";
            if (pwd.val() != '') {                            
                if (IsStr(pwd.val()) == false) {
                    error += '密碼 只能輸入英數字\n';
                }
                else {
                    if (pwd.val().length <= 5) {
                        error += '密碼 至少要6個字元\n';
                    }
                }
                if (pwd.val() != chkPwd.val()) {
                    error += '密碼與確認密碼不同\n';
                }
            }
            if (error != '') {
                alert(error);
                return false;
            } else {
                $("#EditForm").submit();
            }
        }
        function IsStr(v) {
            var vArr = v.match(/^[A-Za-z0-9]+$/);
            if (vArr == null) {
                return false;
            } else {
                return true;
            }
        }
    </script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 帳號管理</div>
    <h1>.:: 帳號管理</h1>
    <article class="Padding2">
        <h2>Step.1 編輯帳號設定</h2>
        @using (Html.BeginForm("EditManager", null, null, FormMethod.Post, new { @id = "EditForm", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.CreateTime)
            @Html.Hidden("PageNo", ViewData["PageNo"])
            @Html.Hidden("PageSize", ViewData["PageSize"])
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductWay" class="STable">
                <tr>
                    <th><label for="UpdateTime">編輯時間</label></th>
                    <td><input name="UpdateTime" type="text" class="Form100" id="createTime" value="@Model.UpdateTime" required disabled /></td>
                </tr>
                <tr>
                    <th><label for="Uid">帳號</label></th>
                    <td><input name="Uid" type="text" required class="Form100" id="Uid" value="@Model.UID" disabled size="100" maxlength="32" /></td>
                </tr>
                @if (Convert.ToSByte(Session["IsUserPower"].ToString()) == 1)
                { 
                <tr>
                    <th><label for="Status">狀態</label></th>
                    <td>
                        <label>
                            <input type="radio" name="Status" value="1" id="Status1" @if (Model.Status == 1) { <text> checked="checked" </text>      }>啟用
                        </label>
                        <label>
                            <input type="radio" name="Status" value="0" id="Status2" @if (Model.Status == 0) { <text> checked="checked" </text>        }>停用
                        </label>
                    </td>
                </tr>
                <tr>
                    <th><label for="Status">超級管理員</label></th>
                    <td>
                        <label>
                            <input type="radio" name="IsUserPower" value="1" id="IsUserPower1" @if (Model.IsUserPower == 1) { <text> checked="checked" </text>        }>是
                        </label>
                        <label>
                            <input type="radio" name="IsUserPower" value="0" id="IsUserPower2" @if (Model.IsUserPower == 0) { <text> checked="checked" </text>           }>否
                        </label>
                    </td>
                </tr>
                }
                <tr>
                    <th><label for="Pwd">密碼</label></th>
                    <td>
                        <input name="Pwd" type="password" required class="Form100" id="Pwd" size="100" maxlength="20" />
                        <br /><font color="red">如需要更改密碼，請填寫密碼</font>
                    </td>
                </tr>
                <tr>
                    <th><label for="ChkPwd">確認密碼</label></th>
                    <td>
                        <input name="ChkPwd" type="password" required class="Form100" id="ChkPwd" size="100" maxlength="20" />
                    </td>
                </tr>
            </table>

            <input name="Submit" type="button" class="submitBtm" id="SendButton" value="送出" onclick="getSubmit()" />
        }
    </article>
</section>


