﻿@model ECTable.Admin.ViewModels.ManagerViewModel
@{
    ViewBag.Title = "ManagerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
    $(function () {
        @if(ViewData["Message"] != null)
        {
            <text>
                alert('@ViewData["Message"].ToString()');
            </text>
        }
    });

    function deleteSubmit(id) {
        if (confirm("你確定要刪除此筆資料?") == true) {
            $.ajax({
                url: '@Url.Action("EditManager", "Manager")',
                    type: 'POST',
                    data: { Id: id, Status: 2 },
                    success: function (data) {
                        if (data == 1) {
                            alert('資料刪除成功');
                        }
                        else {
                            alert('資料刪除失敗，請連絡it人員');
                        }
                        $('#ListForm').submit();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('系統維護中');
                    }
                })
            }
        }

        //狀態變更
        function StatusScript(id, Status) {
            var Msg = "";
            if (Status == 1) {
                Msg = "你確定要把狀態變更為啟用?"
            }
            else {
                Msg = "你確定要把狀態變更為停用?"
            }
            if (confirm(Msg) == true) {
                $.ajax({
                    url: '@Url.Action("EditManagerStatus", "Manager")',
                    type: 'POST',
                    data: { id: id, Status: Status },
                    success: function (data) {
                        //資料更新完重整選單
                        if (data == 1) {
                            alert('狀態變更成功');
                        }
                        else {
                            alert('狀態變更失敗，請連絡it人員');
                        }
                        $('#ListForm').submit();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('系統維護中');
                    }
                })
            }
        }
    </script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 帳號管理</div>
    <h1>.:: 帳號管理</h1>
    <article class="Padding2">
        @using (Html.BeginForm("ManagerList", null, null, FormMethod.Get, new { @id = "ListForm" }))
        {
            <div class="AddBtm" @Model.IsAdd><a href="@Url.Action("AddManager")">新增帳號</a></div>

            @Html.Partial("_SortingPartial")
            @Html.Hidden("PageNo", Model.PageNo)
            
            if (Model.QueryList != null)
            {
                <div id="SmallBuildNav">
                    @Html.PagedListPager(Model.QueryList, Page => Url.Action("ManagerList",
                 new { pageNo = Page, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection }), SiteLibrary.GetDefaultPagerOptions())
                </div>
            }

            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductList" class="HTable">

                @if (Model.QueryList == null || Model.QueryList.Count == 0)
                {
                    <tr>
                        <td colspan="6" align="center"><span class="notice">查無資料!!</span></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th width="20%">@Html.SortingColumnCust("帳號", ManagerSortingField.Uid, Model.SortingField, Model.SortingDirection)</th>
                        <th width="10%">@Html.SortingColumnCust("狀態", ManagerSortingField.LoginIpAddress, Model.SortingField, Model.SortingDirection)</th>
                        <th width="20%">@Html.SortingColumnCust("最後登入IP", ManagerSortingField.LoginTime, Model.SortingField, Model.SortingDirection)</th>
                        <th width="26%">@Html.SortingColumnCust("最後登入時間", ManagerSortingField.Status, Model.SortingField, Model.SortingDirection)</th>
                        <th width="8%">編輯</th>
                        <th width="8%">刪除</th>
                    </tr>
                    <tbody id="TableNo">
                        @foreach (var data in Model.QueryList)
                        {
                            <tr>
                                <td>@data.UID</td>
                                <td>
                                    @if (data.Status == 1)
                                    {
                                        <text>
                                            @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,0)"><font color="blue">啟用</font></a>*@
                                            <font color="blue">啟用</font>
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,1)"><font color="red">停用</font></a>*@
                                            <font color="red">停用</font>
                                        </text>
                                    }
                                </td>
                                <td>@data.Login_IpAddress</td>
                                <td>@data.LoginTime </td>                                
                                <td><a href="@Url.Action("EditManager", new { UID = data.UID, PageNo = Model.PageNo, PageSize = Model.PageSize })"><img src="@Url.Content("~/img/bedit.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                                <td><a href="javascript:void(0)" onclick="deleteSubmit(@data.Id)"><img src="@Url.Content("~/img/delete.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                            </tr>
                        }
                    </tbody>
                }
            </table>

            if (Model.QueryList != null)
            {
                <div id="SmallBuildNav">
                    @Html.PagedListPager(Model.QueryList, Page => Url.Action("ManagerList",
                 new { pageNo = Page, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection }), SiteLibrary.GetDefaultPagerOptions())
                </div>
            }
        }
    </article>
</section>