﻿

@model ECTable.Admin.ViewModels.BrandViewModel
@{
    ViewBag.Title = "BrandList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                <text>
                    alert('@ViewData["Message"].ToString()');
                </text>
            }
        });

        function deleteSubmit(id) {
            if (confirm("你確定要刪除此筆資料?") == true) {
                $.ajax({
                    url: '@Url.Action("EditBrandStatus", "Brand")',
                    type: 'POST',
                    data: { Id: id, Status: 2 },
                    success: function (data) {
                        if (data == 1) {
                            alert('資料刪除成功');
                        }
                        else {
                            alert('資料刪除失敗，請連絡it人員');
                        }
                        $('#ListForm').submit();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('系統維護中');
                    }
                })
            }
        }
        //狀態變更
        function StatusScript(id, Status) {
            var Msg = "";
            if (Status == 1) {
                Msg = "你確定要把狀態變更為上架?"
            }
            else {
                Msg = "你確定要把狀態變更為下架?"
            }
            if (confirm(Msg) == true) {
                $.ajax({
                    url: '@Url.Action("EditBrandStatus", "Brand")',
                        type: 'POST',
                        data: { id: id, Status: Status },
                        success: function (data) {
                            //資料更新完重整選單
                            if (data==1){
                                alert('狀態變更成功');
                            }
                            else{
                                alert('狀態變更失敗，請連絡it人員');
                            }
                            $('#ListForm').submit();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('系統維護中');
                        }
                    })
                }
        }

        function SearchScript() {
            $('#PageNo').val(1);
            $('#ListForm').submit();
        }
    </script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 品牌管理 </div>
    <h1>.:: 品牌管理清單</h1>
    <article class="Padding2">
        @using (Html.BeginForm("BrandList", null, null, FormMethod.Get, new { @id = "ListForm" }))
        {
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="" class="Search">
                <tr>
                    <td width="20%">關鍵字：</td>
                    <td width="80%"><input name="queryTitle" type="text" class="Form100" value="@Model.QueryTitle" id="queryTitle" size="200" /></td>
                </tr>
                <tr>
                <tr>
                    <td> 狀態：</td>
                    <td>
                        <input type="radio" name="queryStatus" id="queryStatus1" value="-1" @if (Model.QueryStatus == -1) { <text> checked="checked" </text>       }>全部
                        <input type="radio" name="queryStatus" id="queryStatus2" value="1" @if (Model.QueryStatus == 1) { <text> checked="checked" </text>      }>上架
                        <input type="radio" name="queryStatus" id="queryStatus3" value="0" @if (Model.QueryStatus == 0) { <text> checked="checked" </text>      }>下架
                    </td>
                </tr>
                <tr><td colspan="2" align="center"><input name="BtnSearch" type="button" onclick="SearchScript()" class="submitBtm" id="BtnSearch" value="搜索" /></td></tr>
            </table>
            <div class="AddBtm"><a href="@Url.Action("AddBrand")">新增品牌</a></div>

            @Html.Partial("_SortingPartial")
            @Html.Hidden("PageNo", Model.PageNo)
            if (Model.QueryList != null)
            {
                <div id="SmallBuildNav">
                    @Html.PagedListPager(Model.QueryList, Page => Url.Action("BrandList",
                     new { pageNo = Page, queryTitle = Model.QueryTitle, queryStatus = Model.QueryStatus, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection }), SiteLibrary.GetDefaultPagerOptions())
                </div>
            }
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductList" class="HTable">

                @if (Model.QueryList == null || Model.QueryList.Count == 0)
                {
                    <tr>
                        <td colspan="8" align="center"><span class="notice">查無資料!!</span></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th width="7%">@Html.SortingColumnCust("編號", BrandSortingField.Id, Model.SortingField, Model.SortingDirection)</th>
                        <th width="30%">@Html.SortingColumnCust("名稱", BrandSortingField.Title, Model.SortingField, Model.SortingDirection)</th>
                        <th width="15%">@Html.SortingColumnCust("最後編輯日期", BrandSortingField.UpdateTime, Model.SortingField, Model.SortingDirection)</th>
                        <th width="10%">@Html.SortingColumnCust("商品數量", BrandSortingField.Quantity, Model.SortingField, Model.SortingDirection)</th>
                        <th width="10%">@Html.SortingColumnCust("排序", BrandSortingField.Sort, Model.SortingField, Model.SortingDirection)</th>
                        <th width="10%">@Html.SortingColumnCust("上架狀態", BrandSortingField.Status, Model.SortingField, Model.SortingDirection)</th>
                        <th width="9%">編輯</th>
                        <th width="9%">刪除</th>
                    </tr>
                    <tbody id="TableNo">
                        @foreach (var data in Model.QueryList)
                        {
                            <tr>
                                <td>@data.Id</td>
                                <td>@data.Title</td>
                                <td>@data.UpdateTime</td>
                                <td>@data.Quantity</td>
                                <td>@data.Sort</td>
                                <td>
                                    @if (data.Status == 1)
                                    {
                                        <text>
                                            @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,0)"><font color="blue">上架</font></a>*@
                                            <font color="blue">上架</font>
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,1)"><font color="red">下架</font></a>*@
                                            <font color="red">下架</font>
                                        </text>
                                    }
                                </td>
                                <td><a href="@Url.Action("EditBrand", new { Id = data.Id, PageNo = Model.PageNo, QueryTitle = Model.QueryTitle, QueryStatus = Model.QueryStatus, PageSize = Model.PageSize, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection })"><img src="@Url.Content("~/img/bedit.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                                <td><a href="javascript:void(0)" onclick="deleteSubmit(@data.Id)"><img src="@Url.Content("~/img/delete.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            if (Model.QueryList != null)
            {
                <div id="SmallBuildNav">
                    @Html.PagedListPager(Model.QueryList, Page => Url.Action("BrandList",
                    new { pageNo = Page, queryTitle = Model.QueryTitle, queryStatus = Model.QueryStatus, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection }), SiteLibrary.GetDefaultPagerOptions())
                </div>
            }
        }
    </article>
</section>