﻿@model ECTable.Admin.ViewModels.BrandEditViewModel
@{
    ViewBag.Title = "EditBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="JavaScript" type="text/javascript" src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                if (ViewData["Message"].ToString().IndexOf("成功") != -1)
                {
                    <text>
                        alert('@ViewData["Message"].ToString()');            
                        document.location.href = '@Url.Action("BrandList",
                        new {
                            pageNo = ViewData["PageNo"].ToString(),
                            queryTitle = ViewData["QueryTitle"].ToString(),
                            queryStatus = ViewData["QueryStatus"].ToString(),
                            pageSize = ViewData["PageSize"].ToString(),
                            sortingField = ViewData["SortingField"].ToString(),
                            sortingDirection = ViewData["SortingDirection"].ToString()
                        })';
                    </text>
                }
                else
                {
                    {
                    <text>
                        alert('@ViewData["Message"].ToString()');
                    </text>
                }
                }
            }
        });

        function getSubmit() {
            var title = $("#Title");
            var seoKeyword = $("#SeoKeyword");
            var sort = $("#Sort");
            var seoDesc = $("#SeoDesc");
            var content = getContenet();
            var error = "";
            if (title.val() == '') {
                error += '品牌名稱 不能為空白\n';
            }
            if (seoKeyword.val() == '') {
                error += '品牌關鍵字 不能為空白\n';
            }
            if (sort.val() == '') {
                error += '排序設定 不能為空白\n';
            }
            if (IsInt(sort.val()) == false) {
                error += '排序設定 只能為數字\n';
            }
            if (seoDesc.val() == '') {
                error += '品牌簡介 不能為空白\n';
            }
            else{
                if (seoDesc.val().length > 150) {
                    error += '品牌簡介不得超過150個字\n';
                }
            }
            if (content == '') {
                error += '品牌描述 不能為空白\n';
            }
            if (error != '') {
                alert(error);
                return false;
            } else {
                $("#EditForm").submit();
            }
        }
        function IsInt(v) {
            var vArr = v.match(/^[0-9]+$/);
            if (vArr == null) {
                return false;
            } else {
                return true;
            }
        }
    </script>
}
<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 品牌管理</div>
    <h1>.:: 品牌管理</h1>
    <article class="Padding2">
@using (Html.BeginForm("EditBrand", null, null, FormMethod.Post, new { @id = "EditForm", @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("PageNo", ViewData["PageNo"])
            @Html.Hidden("PageSize", ViewData["PageSize"])
            @Html.Hidden("SortingField", ViewData["SortingField"])
            @Html.Hidden("SortingDirection", ViewData["SortingDirection"])
            @Html.Hidden("QueryTitle", ViewData["QueryTitle"])
            @Html.Hidden("QueryStatus", ViewData["QueryStatus"])
        <h2>Step.1 編輯品牌基本設定</h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="Product" class="STable">
            <tr>
                <th><label for="date">編輯時間</label></th>
                <td><input name="date" type="text" class="Form100" id="UpdateTime" value="@Model.UpdateTime" required disabled /></td>
            </tr>
            <tr>
                <th><label for="title">品牌名稱</label></th>
                <td><input name="Title" type="text" required class="Form100" id="Title" value="@Model.Title" size="100" /></td>
            </tr>
            <tr>
                <th><label for="Status">上架設定</label></th>
                <td>
                    <label>
                        <input type="radio" name="Status" value="1" id="Status1" @if (Model.Status == 1) { <text> checked="checked" </text>     }>品牌上架
                    </label>
                    <label>
                        <input type="radio" name="Status" value="0" id="Status2" @if (Model.Status == 0) { <text> checked="checked" </text>     }>品牌下架
                    </label>
                </td>
            </tr>
            <tr>
                <th><label for="Sort">排序設定</label></th>
                <td><input name="Sort" type="text" required class="Form100" id="Sort" value="@Model.Sort" size="10" /></td>
            </tr>
            <tr>
                <th width="20%">
                    <label for="xFilePath">品牌圖片<br>
                        <span style="color: red; font-size:90%;">(**寬高比1:1**)</span><br>
                        <span style="color: red; font-size:90%;">(**單檔上限：@(Model.FileSizeLimit + "KB")**)</span>
                    </label>
                </th>
                <td width="80%">
                    <input type="file" id="UploadFile1" name="UploadFiles" size="90" /><br />
                    @if (Model.ExistFile != null){ <text>原上傳檔案：<img src="@(Url.Content(Model.ExistFile))"></text> }                                                                                                   
                </td>
            </tr>
            <tr>
                <th>品牌關鍵字</th>
                <td>
                    <textarea name="SeoKeyword" cols="45" rows="5" maxlength="150" required class="Form100" id="SeoKeyword">@Model.SeoKeyword</textarea>
                    <br><span style="color: red">*關鍵字以分號間隔</span>
                </td>
            </tr>
            <tr>
                <th><label for="brief">品牌簡介</label></th>
                <td>
                    <textarea name="SeoDesc" cols="45" rows="5" maxlength="150" required class="Form100" id="SeoDesc">@Model.SeoDesc</textarea>
                    <br><span style="color: red">*請針對此品牌作一簡述，100-150字數</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="TabelTitleType"><h2>Step.2 編輯品牌詳情資訊 <span style="color: red; font-size:90%;">(**詳情資訊使用的圖檔最大寬度1000px，寬高比盡量維持16:9**)</span></h2></td>
            </tr>
            <tr>
                <th><label for="detail">品牌描述</label></th>
                <td>
                    <textarea name="Content" class="ckeditor" id="Content">@Html.Raw(Model.Content)</textarea>
                </td>
            </tr>
        </table>
    <input name="SendButton" type="button" class="submitBtm" id="SendButton" value="送出" onclick="getSubmit()" />
}
    </article>
</section>

<script type="text/javascript">
    CKEDITOR.replace('Content'
      , { filebrowserImageUploadUrl: '/CkEditor/UploadPicture' }
);
    function getContenet() {
        return CKEDITOR.instances.Content.getData();    //获取textarea的值
    }
</script>