﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>永齡鮮生夏小姐管理後台@*@ViewBag.Title*@</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="@Url.Content("~/img/logo.ico")" type="image/x-icon" />

    @*@Styles.Render("~/css/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!-- CSS -->
    <link href="@Url.Content("~/css/css.css")" rel="stylesheet" type="text/css"><!--主版樣式-->
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" /><!--分頁樣式-->

    <!-- JQuery -->
    <script src="@Url.Content("~/js/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/commonjs.js")" type="text/javascript"></script><!--共用腳本-->

    <script type="text/javascript">

    </script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <!-- Menu Start -->
    @Html.Partial("_MenuPartial")
    <!-- Menu End -->
    
    <div id="container">
        <div class="ContainerBG">

            @Html.Partial("_LeftMenuPartial")

            @RenderBody()
        </div>
    </div>

    <footer role="contentinfo"><div class="Width1200"><div class="Copyright">GPing&copy;2017</div></div></footer>
</body>
</html>