﻿@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString().Trim();
    var currentAction = ViewContext.RouteData.Values["action"].ToString().Trim();
}

@if (currentController == "Product")
{
<aside role="complementary">
    <h2>商品管理</h2>
    <div class="sidebarMenu">
        <ul>
            <li><a href="@Url.Action("ProductList", "Product", new { FunctionMode = "NewProduct" })">新增/異動商品清單</a></li>
            <li><a href="@Url.Action("ProductClassList", "Product")">商品類別管理</a></li>
            <li><a href="@Url.Action("ProductWayList", "Product")">烹調方式管理</a></li>
            <li><a href="@Url.Action("ProductList", "Product", new { FunctionMode = "Product" })">商品清單</a></li>
        </ul>
    </div>
</aside>
}
