﻿<header role="navigation">
    <div class="Width1200">
        <div class="HeaderRight">
            <div class="NewsPaper"><a href="@Url.Action("Login", "Login")">登出管理後台</a></div>
            <nav role="navigation" class="nav">
                <ul class="navigation">
                    <li class="LiWidth142"><a href="#">訂單管理<br><span style="font-size:80%">Order</span></a></li>
                    <li class="LiWidth142"><a href="#">會員管理<br><span style="font-size:80%">Member</span></a></li>
                    <li class="LiWidth142"><a href="#">折價券管理<br><span style="font-size:80%">Coupons</span></a></li>
                    <li class="LiWidth142"><a href="#">Banner管理<br><span style="font-size:80%">Banner</span></a></li>
                    <li class="LiWidth142"><a href="@Url.Action("ProgramList", "Program")">訂閱計劃管理<br><span style="font-size:80%">Program</span></a></li>
                    <li class="LiWidth142"><a href="@Url.Action("CurationList", "Curation")">策展管理<br><span style="font-size:80%">Curations</span></a></li>
                    <li class="LiWidth142"><a href="@Url.Action("BrandList", "Brand")">品牌管理<br><span style="font-size:80%">Brand</span></a></li>
                    <li class="LiWidth142"><a href="@Url.Action("ProductList", "Product")">商品管理<br><span style="font-size:80%">Product</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
