﻿@model ECTable.Admin.ViewModels.ProductClassEditViewModel
@{
    ViewBag.Title = "AddProductClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                if (ViewData["Message"].ToString().IndexOf("成功") != -1)
                {
                    <text>
                        alert('@ViewData["Message"].ToString()');document.location.href = '@Url.Action("ProductClassList")';
                    </text>
                }
                else
                {
                    <text>
                        alert('@ViewData["Message"].ToString()');
                    </text>
                }
            }
        });

        function getSubmit() {
            var title = $("#Title");
            var sort = $("#Sort");
            var error = "";

            if (title.val() == '') {
                error += '類別名稱 不能為空白\n';
            }

            if (sort.val() == '') {
                error += '排序設定 不能為空白\n';
            }

            if (IsInt(sort.val()) == false) {
                error += '排序設定 只能為數字\n';
            }

            if (error != '') {
                alert(error);
                return false;
            } else {
                $("#AddForm").submit();
            }
        }

        function IsInt(v) {
            var vArr = v.match(/^[0-9]+$/);
            if (vArr == null) {
                return false;
            } else {
                return true;
            }
        }
    </script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 商品管理</div>
    <h1>.:: 商品類別管理</h1>
    <article class="Padding2">
        <h2>Step.1 新增商品類別設定</h2>

        @using (Html.BeginForm("AddProductClass", null, null, FormMethod.Post, new { @id = "AddForm", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.Id)

            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductClass" class="STable">
                <tr>
                    <th><label for="CreateTime">新增時間</label></th>
                    <td><input name="CreateTime" type="text" class="Form100" id="CreateTime" value="@Model.CreateTime" disabled="disabled" required /></td>
                </tr>
                <tr>
                    <th><label for="Title">商品類別名稱</label></th>
                    <td><input name="Title" type="text" class="Form100" id="Title" value="@Model.Title" required /></td>
                </tr>
                <tr>
                    <th><label for="Status">上架設定</label></th>
                    <td>
                        <label><input type="radio" name="Status" value="1" id="RadioStatus_1" @if (Model.Status == 1) { <text> checked="checked" </text> }>商品上架</label>
                        <label><input type="radio" name="Status" value="0" id="RadioStatus_0" @if (Model.Status == 0) { <text> checked="checked" </text> }>商品下架</label>
                    </td>
                </tr>
                <tr>
                    <th><label for="Sort">排序設定</label></th>
                    <td><input name="Sort" type="text" required class="Form100" id="Sort" value="@Model.Sort" size="10" /></td>
                </tr>
            </table>

            <input name="Submit" type="button" class="submitBtm" id="Submit" value="送出" onclick="getSubmit()" />
        }
    </article>
</section>

