﻿@model ECTable.Admin.ViewModels.ProductEditViewModel
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script language="JavaScript" type="text/javascript" src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>

@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                if (ViewData["Message"].ToString().IndexOf("成功") != -1)
                {
                    <text>
                        alert('@ViewData["Message"].ToString()'); document.location.href = '@Url.Action("ProductList",
                        new {
                            pageNo = ViewData["PageNo"].ToString(),
                            pageSize = ViewData["PageSize"].ToString(),
                            sortingField = ViewData["SortingField"].ToString(),
                            sortingDirection = ViewData["SortingDirection"].ToString()
                        })';
                    </text>
                }
                else
                {
                    <text>
                        alert('@ViewData["Message"].ToString()');
                    </text>
                }
            }
        });

        function getSubmit() {
            var productName = $("#ProductName");
            var specification = $("#Specification");
            var brandId = $("#BrandId");
            var classId = $("#ClassId");
            var error = "";

            if (productName.val() == '') {
                error += '商品名稱 不能為空白\n';
            }

            if (brandId.val() == '0') {
                error += '商品品牌 請選擇\n';
            }

            if (classId.val() == '0') {
                error += '商品類別 請選擇\n';
            }

            if ($("input[class='productWayList']:checked").length == 0) {
                // 沒被勾選
                error += '烹調方式 請選擇\n';
            }

            var wayId = "";
            $(".productWayList").each(function () {
                if ($(this).prop("checked")) wayId += $(this).val() + ",";
            });
            if (wayId.indexOf(",") != -1) wayId = wayId.substring(0, wayId.length - 1); // 拿掉最後的","，並回填值
            $("#WayId").val(wayId);

            if (error != '') {
                alert(error);
                return false;
            } else {
                $("#EditForm").submit();
            }
        }
    </script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 商品管理</div>
    @if (Model.FunctionMode == "Product")
    {
        <h1>.:: 商品管理</h1>
    }
    else
    {
        <h1>.:: 新增/異動商品管理</h1>
    }
    <article class="Padding2">

        <h2>Step.1 編輯商品基本設定</h2>
        
        @using (Html.BeginForm("EditProduct", null, null, FormMethod.Post, new { @id = "EditForm", @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.FunctionMode)
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ProductId)
            @Html.HiddenFor(x => x.Status)
            @Html.Hidden("PageNo", ViewData["PageNo"])
            @Html.Hidden("PageSize", ViewData["PageSize"])
            @Html.Hidden("SortingField", ViewData["SortingField"])
            @Html.Hidden("SortingDirection", ViewData["SortingDirection"])
    
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="Product" class="STable">
                <tr>
                    <th><label for="ErpProductName">ERP商品名稱</label></th>
                    <td><input name="ErpProductName" type="text" class="Form100" id="ErpProductName" value="@Model.ErpProductName" size="100" disabled="disabled" /></td>
                </tr>
                <tr>
                    <th>
                        <label for="UpdateTime">
                            編輯時間
                        </label>
                    </th>
                    <td><input name="UpdateTime" type="text" class="Form100" id="UpdateTime" value="@Model.UpdateTime" disabled="disabled" required /></td>
                </tr>
                <tr>
                    <th><label for="ProductName">商品名稱</label></th>
                    <td><input name="ProductName" type="text" class="Form100" id="ProductName" value="@Model.ProductName" size="100" required /></td>
                </tr>
                <tr>
                    <th><label for="Status">上架設定</label></th>
                    <td>
                        <label><input type="radio" name="Status" class="Status" value="選項按鈕" id="StatusRadio1" @if (Model.Status == 1) { <text> checked="checked" </text>}>商品上架</label>
                        <label><input type="radio" name="Status" class="Status" value="選項按鈕" id="StatusRadio0" @if (Model.Status == 0) { <text> checked="checked" </text> }>商品下架</label>
                    </td>
                </tr>
                <tr>
                    <th><label for="Price">售價</label></th>
                    <td><input name="Price" type="text" class="Form100" id="Price" value="@Model.Price" size="100" required /></td>
                </tr>
                <tr>
                    <th><label for="BrandId">商品品牌</label></th>
                    <td>
                        <select id="BrandId" name="BrandId" class="Form100">
                            @try
                            {
                                Dictionary<int, string> productBrands = (Dictionary<int, string>)ViewData["ProductBrands"];
                                foreach (var data in productBrands)
                                {
                                    <option value="@data.Key" @((Model.BrandId == data.Key) ? "selected='selected'" : "")>@data.Value</option>
                                }
                            }
                            catch
                            {
                            }
                        </select>
                        @Html.HiddenFor(x => x.BrandId)
                    </td>
                </tr>
                <tr>
                    <th><label for="ClassId">商品類別</label></th>
                    <td>
                        <select id="ClassId" name="ClassId" class="Form100">
                            @try
                            {
                                Dictionary<int, string> productClasses = (Dictionary<int, string>)ViewData["ProductClasses"];
                                foreach (var data in productClasses)
                                {
                                    <option value="@data.Key" @((Model.ClassId == data.Key) ? "selected='selected'" : "")>@data.Value</option>
                                }
                            }
                            catch
                            {
                            }
                        </select>
                        @Html.HiddenFor(x => x.ClassId)
                    </td>
                </tr>
                <tr>
                    <th><label for="WayId">烹調方式</label></th>
                    <td>
                        @try
                        {
                            foreach (var data in Model.ProductWayList)
                            {
                                <label><input type="checkbox" class="productWayList" value="@data.Id" @((data.Checked) ? "checked='checked'" : "")>@data.Title</label>
                            }
                        }
                        catch
                        {
                        }
                        @Html.HiddenFor(x => x.WayId)
                    </td>
                </tr>
                <tr>
                    <th>商品規格</th>
                    <td>
                        <input name="Specification" type="text" class="Form100" id="Specification" value="@Model.Specification" size="100" required />
                    </td>
                </tr>
                <tr>
                    <th width="20%">
                        商品圖片<br>
                        <span style="color: red; font-size:90%;">(**寬高比1:1**)</span><br>
                        <span style="color: red; font-size:90%;">(**單檔上限：@(Model.FileSizeLimit + "KB")**)</span>
                    </th>
                    <td width="80%">
                        <input type="file" id="UploadFile1" name="UploadFiles" class="Form100" size="100" />
                        @if (Model.ExistFile1 != null){ <text>原上傳檔案：<img src="@(Url.Content(Model.ExistFile1))"></text> }
                        @Html.HiddenFor(x => x.ExistFile1)
                        <br />
                        <input type="file" id="UploadFile2" name="UploadFiles" class="Form100" size="100" />
                        @if (Model.ExistFile2 != null){ <text>原上傳檔案：<img src="@(Url.Content(Model.ExistFile2))"></text> }
                        @Html.HiddenFor(x => x.ExistFile2)
                        <br />
                        <input type="file" id="UploadFile3" name="UploadFiles" class="Form100" size="100" />
                        @if (Model.ExistFile3 != null){ <text>原上傳檔案：<img src="@(Url.Content(Model.ExistFile3))"></text> }
                        @Html.HiddenFor(x => x.ExistFile3)
                        <br />
                        <input type="file" id="UploadFile4" name="UploadFiles" class="Form100" size="100" />
                        @if (Model.ExistFile4 != null){ <text>原上傳檔案：<img src="@(Url.Content(Model.ExistFile4))"></text> }
                        @Html.HiddenFor(x => x.ExistFile4)
                        <br />
                        <input type="file" id="UploadFile5" name="UploadFiles" class="Form100" size="100" />
                        @if (Model.ExistFile5 != null){ <text>原上傳檔案：<img src="@(Url.Content(Model.ExistFile5))"></text> }
                        @Html.HiddenFor(x => x.ExistFile5)
                    </td>
                </tr>

                <tr>
                    <th><label for="SeoKeyword">商品關鍵字</label></th>
                    <td>
                        <textarea name="SeoKeyword" cols="45" rows="5" maxlength="150" class="Form100" id="SeoKeyword" required>@Model.SeoKeyword</textarea>
                        <br><span style="color: red">*關鍵字以分號間隔</span>
                    </td>
                </tr>
                <tr>
                    <th><label for="SeoDesc">商品簡介</label></th>
                    <td>
                        <textarea name="SeoDesc" cols="45" rows="5" maxlength="150" class="Form100" id="SeoDesc" required>@Model.SeoDesc</textarea>
                        <br><span style="color: red">*請針對此產品作一簡述，100-150字數</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="TabelTitleType">
                        <h2>Step.2 編輯商品詳情資訊 <span style="color: red; font-size:90%;">(**詳情資訊使用的圖檔最大寬度1000px，寬高比盡量維持16:9**)</span></h2>
                    </td>
                </tr>
                <tr>
                    <th>商品特色</th>
                    <td>
                        <input name="Features1" type="text" class="Form100" id="Features1" value="@Model.Features1" size="200" required />
                        <input name="Features2" type="text" class="Form100" id="Features2" value="@Model.Features2" size="200" required />
                        <input name="Features3" type="text" class="Form100" id="Features3" value="@Model.Features3" size="200" required />
                        <input name="Features4" type="text" class="Form100" id="Features4" value="@Model.Features4" size="200" required />
                        <input name="Features5" type="text" class="Form100" id="Features5" value="@Model.Features5" size="200" required />
                    </td>
                </tr>
                <tr>
                    <th><label for="Content">商品描述</label></th>
                    <td>
                        <textarea name="Content" id="Content" class="ckeditor" cols="45" rows="50" required>@Html.Raw(Model.Content)</textarea>
                    </td>
                </tr>
                @if (Model.FunctionMode == "Product")
                {
                    <tr>
                        <th>
                            <label for="UpdateTime">
                                編輯帳號
                            </label>
                        </th>
                        <td><input name="UpdateId" type="text" class="Form100" id="UpdateId" value="@Model.UpdateId" disabled="disabled" /></td>
                    </tr>
                }
                else
                {
                    @Html.HiddenFor(x => x.UpdateId)
                }
            </table>
            
            <input name="Submit" type="button" class="submitBtm" id="Submit" value="送出" onclick="getSubmit()" />
        }
    </article>
</section>

<!--必須放在最後，參考：https://stackoverflow.com/questions/33124314/ckeditor-works-but-get-error-uncaught-referenceerror-ckeditor-is-not-defined-->
<script type="text/javascript">
    CKEDITOR.replace('Content', {
        filebrowserImageUploadUrl: '/CkEditor/UploadPicture'
    });

    function getContenet() {
        return CKEDITOR.instances.Content.getData(); // 取得 textarea 的值
    }
</script>