﻿@model ECTable.Admin.ViewModels.ProductWayEditViewModel 
@{
    ViewBag.Title = "EditProductWay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
    $(function () {
        @if(ViewData["Message"] != null)
            {
                if (ViewData["Message"].ToString().IndexOf("成功") != -1)
                {
                    <text>
                        alert('@ViewData["Message"].ToString()');
                        document.location.href = '@Url.Action("ProductWayList",
                        new {
                            pageNo = ViewData["PageNo"].ToString(),
                            queryTitle = ViewData["QueryTitle"].ToString(),
                            queryStatus = ViewData["QueryStatus"].ToString(),
                            pageSize = ViewData["PageSize"].ToString(),
                            sortingField = ViewData["SortingField"].ToString(),
                            sortingDirection = ViewData["SortingDirection"].ToString()
                        })';
                    </text>
                }
                else
                {
                    <text>
        alert('@ViewData["Message"].ToString()');
        </text>
                }
            }
    });

    function getSubmit() {
        var title = $("#Title");
        var sort = $("#Sort");
        var error = "";
        if (title.val() == '') {
            error += '烹調方式 不能為空白\n';
        }

        if (sort.val() == '') {
            error += '排序設定 不能為空白\n';
        }
        if (IsInt(sort.val()) == false) {
            error += '排序設定 只能為數字\n';
        }
        if (error != '') {
            alert(error);
            return false;
        } else {
            $("#EditForm").submit();
        }
    }
    function IsInt(v) {
        var vArr = v.match(/^[0-9]+$/);
        if (vArr == null) {
            return false;
        } else {
            return true;
        }
    }
    </script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 商品管理</div>
    <h1>.:: 商品烹調方式管理</h1>
    <article class="Padding2">
        <h2>Step.1 編輯商品烹調方式管理</h2>
        
        @using (Html.BeginForm("EditProductWay", null, null, FormMethod.Post, new { @id = "EditForm", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("PageNo", ViewData["PageNo"])
            @Html.Hidden("PageSize", ViewData["PageSize"])
            @Html.Hidden("SortingField", ViewData["SortingField"])
            @Html.Hidden("SortingDirection", ViewData["SortingDirection"])
            @Html.Hidden("QueryTitle", ViewData["QueryTitle"])
            @Html.Hidden("QueryStatus", ViewData["QueryStatus"])

            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductClass" class="STable">
                <tr>
                    <th><label for="UpdateTime">最後編輯時間</label></th>
                    <td><input name="UpdateTime" type="text" class="Form100" id="UpdateTime" value="@Model.UpdateTime" required disabled /></td>
                </tr>
                <tr>
                    <th><label for="Title">烹調方式</label></th>
                    <td><input name="Title" type="text" required class="Form100" id="Title" value="@Model.Title" size="100" /></td>
                </tr>
                <tr>
                    <th><label for="Status">上架設定</label></th>
                    <td>
                        <label><input type="radio" name="Status" value="1" id="Status1" @if (Model.Status == 1) { <text> checked="checked" </text>       }>上架</label>
                        <label><input type="radio" name="Status" value="0" id="Status2" @if (Model.Status == 0) { <text> checked="checked" </text>       }>下架</label>
                    </td>
                </tr>
                <tr>
                    <th><label for="Sort">排序設定</label></th>
                    <td><input name="Sort" type="text" required class="Form100" id="Sort" value="@Model.Sort" size="10" /></td>
                </tr>
            </table>

            <input name="SendButton" type="button" class="submitBtm" id="SendButton" value="送出" onclick="getSubmit()" />
        }
    </article>
</section>

