﻿@model ECTable.Admin.ViewModels.ProductViewModel
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                <text>
                    alert('@ViewData["Message"].ToString()');
                </text>
            }
        });

        //狀態變更
        function StatusScript(id, Status) {
            var Msg = "";
            if (Status == 1) {
                Msg = "你確定要把狀態變更為上架?"
            }
            else {
                Msg = "你確定要把狀態變更為下架?"
            }
            if (confirm(Msg) == true) {
                $.ajax({
                    url: '@Url.Action("EditProductStatus", "Product")',
                    type: 'POST',
                    data: { id: id, Status: Status },
                    success: function (data) {
                        //資料更新完重整選單
                        if (data == 1) {
                            alert('狀態變更成功');
                        }
                        else {
                            alert('狀態變更失敗，請連絡it人員');
                        }
                        $('#ListForm').submit();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('系統維護中');
                    }
                })
            }
        }
</script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 商品管理</div>
    
    @if (Model.FunctionMode == "Product")
    {
        <h1>.:: 商品清單</h1>
    }
    else
    {
        <h1>.:: 新增/異動商品清單</h1>
    }
    
    <article class="Padding2">
        @using (Html.BeginForm("ProductList", null, null, FormMethod.Post, new { @id = "QueryForm", @class = "form-horizontal" }))
        {
            @Html.Hidden("SortingField", Model.SortingField)
            @Html.Hidden("SortingDirection", Model.SortingDirection)
            @Html.Hidden("PageNo", Model.PageNo)
            @Html.Hidden("FunctionMode", Model.FunctionMode)

            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="" class="Search">
                <tr>
                    <td width="80%"><input name="SearchKeyword" type="search" class="Form100" id="searchKeyword" placeholder="請輸入商品關鍵字或商品標號" value="@Model.SearchKeyword" size="200" /></td>
                    <td width="20%"><input name="SearchSubmit" type="submit" class="submitBtm" id="searchSubmit" value="搜索" /> </td>
                </tr>
            </table>
        }
        <!--<div class="AddBtm"><a href="product-add.php">新增商品</a></div>-->

        @if (Model.QueryList != null)
        {
            <div id="SmallBuildNav">
                @Html.PagedListPager(Model.QueryList, Page => Url.Action("ProductList",
                 new
                 {
                     pageNo = Page,
                     SortingField = Model.SortingField,
                     SortingDirection = Model.SortingDirection,
                     SearchKeyword = Model.SearchKeyword,
                     FunctionMode = Model.FunctionMode
                 }),
                 SiteLibrary.GetDefaultPagerOptions())
            </div>
        }

        @using (Html.BeginForm("ProductList", null, null, FormMethod.Get, new { @id = "ListForm" }))
        {
            @Html.Partial("_SortingPartial")
            @Html.Hidden("PageNo", Model.PageNo)
            @Html.Hidden("FunctionMode", Model.FunctionMode)
            @Html.HiddenFor(x => x.SearchKeyword)

            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductList" class="HTable">

                @if (Model.QueryList == null || Model.QueryList.Count == 0)
                {
                    <tr>
                        <td colspan="8" align="center"><span class="notice">查無資料!!</span></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th width="15%">@Html.SortingColumnCust("編號", ProductSortingField.ProductId, Model.SortingField, Model.SortingDirection)</th>
                        <th width="28%">@Html.SortingColumnCust("名稱", ProductSortingField.ProductName, Model.SortingField, Model.SortingDirection)</th>
                        <th width="16%">@Html.SortingColumnCust("最後編輯日期", ProductSortingField.UpdateTime, Model.SortingField, Model.SortingDirection)</th>
                        <th width="8%">@Html.SortingColumnCust("庫存", ProductSortingField.Stock, Model.SortingField, Model.SortingDirection)</th>
                        <th width="8%">@Html.SortingColumnCust("規格", ProductSortingField.Specification, Model.SortingField, Model.SortingDirection)</th>
                        <th width="8%">@Html.SortingColumnCust("售價", ProductSortingField.Price, Model.SortingField, Model.SortingDirection)</th>
                        <th width="9%">@Html.SortingColumnCust("上架狀態", ProductSortingField.Status, Model.SortingField, Model.SortingDirection)</th>
                        <th width="8%">編輯</th>
                    </tr>
                    <tbody id="TableNo">
                        @foreach (var data in Model.QueryList)
                        {
                            <tr>
                                <td>@data.ProductId</td>
                                <td><a href="https://www.on-target.com.tw/ECTable/product.html" target="_blank">@data.ProductName</a></td>
                                <td>@data.UpdateTime</td>
                                <td>@data.Stock</td>
                                <td>@data.Specification</td>
                                <td>@data.Price</td>
                                <td>
                                    @if (data.Status == 1)
                                    {
                                        <text>
                                            @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,0)"><font color="blue">上架</font></a>*@
                                            <font color="blue">上架</font>
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,1)"><font color="red">下架</font></a>*@
                                            <font color="red">下架</font>
                                        </text>
                                    }
                                </td>
                                <td><a href="@Url.Action("EditProduct", new { FunctionMode = Model.FunctionMode, Id = data.Id, PageNo = Model.PageNo, PageSize = Model.PageSize, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection, SearchKeyword = Model.SearchKeyword })"><img src="@Url.Content("~/img/bedit.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        }

        @if (Model.QueryList != null)
        {
            <div id="SmallBuildNav">
                @Html.PagedListPager(Model.QueryList, Page => Url.Action("ProductList",
                 new
                 {
                     pageNo = Page,
                     SortingField = Model.SortingField,
                     SortingDirection = Model.SortingDirection,
                     SearchKeyword = Model.SearchKeyword,
                     FunctionMode = Model.FunctionMode
                 }),
                 SiteLibrary.GetDefaultPagerOptions())
            </div>
        }
    </article>
</section>