﻿@model ECTable.Admin.ViewModels.ProductClassViewModel
@{
    ViewBag.Title = "ProductClassList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                <text>
                    alert('@ViewData["Message"].ToString()');
                </text>
            }
        });

        function deleteSubmit(id) {
            if (confirm("你確定要刪除此筆資料?") == true) {
                $.ajax({
                    url: '@Url.Action("EditProductClassStatus", "Product")',
                    type: 'POST',
                    data: { Id: id, Status: 2 },
                    success: function (data) {
                        if (data == 1) {
                            alert('資料刪除成功');
                        }
                        else {
                            alert('資料刪除失敗，請連絡it人員');
                        }
                        $('#ListForm').submit();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('系統維護中');
                    }
                })
            }
        }

        //狀態變更
        function StatusScript(id, Status) {
            var Msg = "";
            if (Status == 1) {
                Msg = "你確定要把狀態變更為上架?"
            }
            else {
                Msg = "你確定要把狀態變更為下架?"
            }
            if (confirm(Msg) == true) {
                $.ajax({
                    url: '@Url.Action("EditProductClassStatus", "Product")',
                    type: 'POST',
                    data: { id: id, Status: Status },
                    success: function (data) {
                        //資料更新完重整選單
                        if (data == 1) {
                            alert('狀態變更成功');
                        }
                        else {
                            alert('狀態變更失敗，請連絡it人員');
                        }
                        $('#ListForm').submit();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('系統維護中');
                    }
                })
            }
        }
</script>
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 商品管理</div>
    <h1>.:: 商品類別清單</h1>
    <article class="Padding2">
        <div class="AddBtm"><a href="@Url.Action("AddProductClass")">新增商品類別</a></div>

        @if (Model.QueryList != null)
        {
            <div id="SmallBuildNav">
                @Html.PagedListPager(Model.QueryList, Page => Url.Action("ProductClassList",
                 new { pageNo = Page, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection }), SiteLibrary.GetDefaultPagerOptions())
            </div>
        }

        @using (Html.BeginForm("ProductClassList", null, null, FormMethod.Get, new { @id = "ListForm" }))
        {
            @Html.Partial("_SortingPartial")
            @Html.Hidden("PageNo", Model.PageNo)

            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductList" class="HTable">

            @if (Model.QueryList == null || Model.QueryList.Count == 0)
            {
                <tr>
                    <td colspan="7" align="center"><span class="notice">查無資料!!</span></td>
                </tr>
            }
            else
            {
                <tr>
                    <th width="10%">@Html.SortingColumnCust("編號", ProductClassSortingField.Id, Model.SortingField, Model.SortingDirection)</th>
                    <th width="40%">@Html.SortingColumnCust("類別名稱", ProductClassSortingField.Title, Model.SortingField, Model.SortingDirection)</th>
                    <th width="10%">@Html.SortingColumnCust("商品數量", ProductClassSortingField.Quantity, Model.SortingField, Model.SortingDirection)</th>
                    <th width="10%">@Html.SortingColumnCust("排序", ProductClassSortingField.Sort, Model.SortingField, Model.SortingDirection)</th>
                    <th width="10%">@Html.SortingColumnCust("上架狀態", ProductClassSortingField.Status, Model.SortingField, Model.SortingDirection)</th>
                    <th width="10%">編輯</th>
                    <th width="10%">刪除</th>
                </tr>
                <tbody id="TableNo">
                    @foreach (var data in Model.QueryList)
                    {
                        <tr>
                            <td>@data.Id</td>
                            <td>@data.Title</td>
                            <td>@data.Quantity</td>
                            <td>@data.Sort</td>
                            <td>
                                @if (data.Status == 1)
                                {
                                    <text>
                                        @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,0)"><font color="blue">上架</font></a>*@
                                        <font color="blue">上架</font>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        @*<a href="javascript:void(0)" onclick="StatusScript(@data.Id,1)"><font color="red">下架</font></a>*@
                                        <font color="red">下架</font>
                                    </text>
                                }
                            </td>
                            <td><a href="@Url.Action("EditProductClass", new { Id = data.Id, PageNo = Model.PageNo, PageSize = Model.PageSize, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection })"><img src="@Url.Content("~/img/bedit.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                            <td><a href="javascript:void(0)" onclick="deleteSubmit(@data.Id)"><img src="@Url.Content("~/img/delete.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                        </tr>
                    }
                </tbody>
            }
            </table>
        }

        @if (Model.QueryList != null)
        {
        <div id="SmallBuildNav">
            @Html.PagedListPager(Model.QueryList, Page => Url.Action("ProductClassList",
                 new { pageNo = Page, SortingField = Model.SortingField, SortingDirection = Model.SortingDirection }), SiteLibrary.GetDefaultPagerOptions())
        </div>
        }
    </article>
</section>