﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>永齡鮮生夏小姐管理後台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="@Url.Content("~/img/logo.ico")" type="image/x-icon" />

    <!-- CSS -->
    <link href="@Url.Content("~/css/css.css")" rel="stylesheet" type="text/css">

    <!-- JQuery -->

    <script src="@Url.Content("~/js/jquery-1.10.2.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            @if(ViewData["Message"] != null)
            {
                <text>
                    alert('@ViewData["Message"].ToString()');
                </text>
            }

            $("#LoginForm").keypress(function (event) {
                if (event.keyCode == '13') {
                    getSubmit();
                }
            });

            $("#uid").focus();
        });

        function getSubmit() {
            var uid = $("#uid");
            var pwd = $("#pwd");
            var error = "";

            if (uid.val() == '') {
                error += '帳號 不能為空白\n';
            }

            if (pwd.val() == '') {
                error += '密碼 不能為空白\n';
            }        
            if (error != '') {
                alert(error);
                return false;
            } else {
                $("#LoginForm").submit();
            }
        }               
    </script>
</head>
<body>
    <header role="navigation"><div class="Width1200"><div class="HeaderRight"></div></div></header>
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "LoginForm" }))
{
    <div id="container">
        <div class="LoginArea">
            <h1>永齡鮮生夏小姐管理後台</h1>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="STable">
                <tr>
                    <th width="25%">帳號</th>
                    <td width="75%"><label><input name="uid" type="text" id="uid" class="Form100" required /></label></td>
                </tr>
                <tr>
                    <th>密碼</th>
                    <td><label><input name="pwd" type="password" id="pwd" class="Form100" required /></label></td>
                </tr>
            </table>            
            <input type="button" value="送出" class="submitBtm" id="btn_Submit" name="btn_Submit" onclick="getSubmit()" />
        </div>
    </div>
}
    <footer role="contentinfo"><div class="Width1200"><div class="Copyright">GPing&copy;2017</div></div></footer>
</body>
</html>
