﻿
@{
    ViewBag.Title = "AddCuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 策展管理</div>
    <h1>.:: 策展管理</h1>
    <article class="Padding2">
        <h2>Step.1 新增展覽基本設定</h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="Product" class="STable">
            <tr>
                <th><label for="date">展覽期間</label></th>
                <td><input type="date" class="Form100">-<input type="date" class="Form100"></td>
            </tr>
            <tr>
                <th><label for="title">展覽名稱</label></th>
                <td><input name="title" type="text" required class="Form100" id="title" value="" size="100" /></td>
            </tr>
            <tr>
                <th><label for="title">上架設定</label></th>
                <td>
                    <label><input type="radio" name="RadioGroup1" value="選項按鈕" id="RadioGroup1_0">展覽上架</label>
                    <label><input type="radio" name="RadioGroup1" value="選項按鈕" id="RadioGroup1_1">展覽下架</label>
                </td>
            </tr>
            <tr>
                <th><label for="title">商品組合</label></th>
                <td>
                    <input name="title" type="text" required class="Form100" id="title" placeholder="請輸入商品編號" value="" size="100" />
                    <input name="title" type="text" required class="Form100" id="title" placeholder="請輸入商品編號" value="" size="100" />
                    <br>
                    <a href="#">+ 更多商品</a>
                </td>
            </tr>
            <tr>
                <th><label for="title">定價</label></th>
                <td>1290</td>
            </tr>
            <tr>
                <th><label for="title">特價</label></th>
                <td><input name="title" type="text" required class="Form100" id="title" placeholder="請輸入活動特價" value="" size="100" /></td>
            </tr>

            <tr>
                <th>展覽關鍵字</th>
                <td>
                    <textarea name="brief" cols="45" rows="5" maxlength="150" required class="Form100" id="brief"></textarea>
                    <br><span style="color: red">*關鍵字以分號間隔</span>
                </td>
                </td>
            </tr>
            <tr>
                <th><label for="brief">展覽簡介</label></th>
                <td>
                    <textarea name="brief" cols="45" rows="5" maxlength="150" required class="Form100" id="brief"></textarea>
                    <br><span style="color: red">*請針對此展覽牌作一簡述，100-150字數</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="TabelTitleType"><h2>Step.2 新增展覽詳情資訊 <span style="color: red; font-size:90%;">(**詳情資訊使用的圖檔最大寬度1280px，寬高比盡量維持16:9**)</span></h2></td>
            </tr>
            <tr>
            <tr>
                <th width="20%"><label for="xFilePath">首頁Banner<br><span style="color: red; font-size:90%;">(W)1280x(H)400</span></label></th>
                <td width="80%">
                    <input name="image" type="text" required class="Form100" id="xFilePath" value="" size="100" />
                    <br>
                    <input type="button" value="瀏覽檔案" onclick="BrowseServer();" />
                </td>
            </tr>
            <tr>
                <th width="20%"><label for="xFilePath">展覽主視覺<br><span style="color: red; font-size:90%;">(W)1280</span></label></th>
                <td width="80%">
                    <input name="image" type="text" required class="Form100" id="xFilePath" value="" size="100" />
                    <br>
                    <input type="button" value="瀏覽檔案" onclick="BrowseServer();" />
                </td>
            </tr>
            <tr>
                <th><label for="detail">詳情</label></th>
                <td>
                    <textarea name="detail" cols="45" rows="50" class="Form100" id="detail1" required>請放置Html編輯器</textarea>
                </td>
            </tr>
        </table>
        <input name="submit" type="submit" class="submitBtm" id="submit" value="送出" />
    </article>
</section>

