﻿
@{
    ViewBag.Title = "CurationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 策展管理</div>
    <h1>.:: 策展清單</h1>
    <article class="Padding2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="" class="Search">
            <tr>
                <td width="80%"><input name="" type="search" required class="Form100" id="description1" placeholder="請輸入展覽關鍵字" value="" size="200" /></td>
                <td width="20%"><input name="submit" type="submit" class="submitBtm" id="submit" value="搜索" /> </td>
            </tr>
        </table>
        <div class="AddBtm"><a href="@Url.Action("AddCuration")">新增策展</a></div>
        <div id="SmallBuildNav">« <a href="#">上一頁</a> <a href="#">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a> | <a href="#">5</a> <a href="#">下一頁</a> »</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductList" class="HTable">
            <tr>
                <th width="8%">編號</th>
                <th width="18%">日期</th>
                <th width="30%">策展名稱</th>
                <th width="10%">定價/特價</th>
                <th width="10%">銷售套數</th>
                <th width="8%">上架狀態</th>
                <th width="8%">編輯</th>
                <th width="8%">刪除</th>
            </tr>
            <tbody id="TableNo">
                <tr>
                    <td>1</td>
                    <td>2017/8/14-8/20</td>
                    <td><a href="https://www.on-target.com.tw/ECTable/curation.html" target="_blank">福貴糕X小油菊</a></td>
                    <td>1280/999</td>
                    <td>100</td>
                    <td>Y</td>
                    <td><a href="@Url.Action("EditCuration")"><img src="@Url.Content("~/img/bedit.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                    <td><a href="#"><img src="@Url.Content("~/img/delete.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                </tr>
            </tbody>
        </table>
        <div id="SmallBuildNav">« <a href="#">上一頁</a> <a href="#">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a> | <a href="#">5</a> <a href="#">下一頁</a> »</div>
    </article>
</section>