﻿@{
    ViewBag.Title = "永齡鮮生&夏小姐";
}

<!--主要輪播Banner-->
<div class="main_slider">
    <div class="main_slider_inner container">
        <div class="mainslider">
            <div>
                <a href="#">
                    <img class="desk_main_banner" src="@Url.Content("~/img/banner1.png")" alt="餐桌派對"><img class="mobile_banner" src="@Url.Content("~/img/m_banner1.png")" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img class="desk_main_banner" src="@Url.Content("~/img/banner2.jpg")" alt="夏普智慧廚房家電"><img class="mobile_banner" src="@Url.Content("~/img/m_banner1.png")" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img class="desk_main_banner" src="@Url.Content("~/img/banner3.jpg")" alt="林世航八大飲食八周計畫"><img class="mobile_banner" src="@Url.Content("~/img/m_banner1.png")" alt="">
                </a>
            </div>
        </div>
        <div class="season_box">
            <img src="@Url.Content("~/img/seasonbox.jpg")" alt="">
            <a href="SolarTerm.php" class="cus2_btn">更多資訊</a>
        </div>
    </div>
    <script>
	    /* Slick 控件 */
	    $('.mainslider').slick({
		    dots: true,
		    arrows: false,
		    infinite: true,
		    speed: 300,
		    fade: true,
		    cssEase: 'linear',
		    autoplaySpeed: 3000,
		    autoplay: true,
		    responsive:[
			    {
				    breakpoint:414,
				    settings:{
					    dots: false,
				    }
			    }

		    ]
	    });
    </script>
</div>

<!--部落格區塊-->
<div class="blog_area">
    <div class="container">
        <ul class="row">
            <li class="col-md-4 col-xs-12">
                <div class="post_inner">
                    <a href="#">
                        <div class="blog_thumbnail"><img src="@Url.Content("~/img/blog1.jpg")" alt=""></div>
                        <div class="blog_title">
                            <h2>因人而食，就是在說如何因為一個偶像而吃得健康....</h2>
                        </div>
                        <div class="blog_category">
                            <div class="blog_cate">文章分類</div>
                            <div class="blog_date">2017/09/26</div>
                        </div>
                    </a>
                </div>
            </li>

            <li class="col-md-4 col-xs-12">
                <div class="post_inner">
                    <a href="#">
                        <div class="blog_thumbnail"><img src="@Url.Content("~/img/blog2.jpg")" alt=""></div>
                        <div class="blog_title"><h2>養生之道在於如何透過“吃”，來解決身體上所有健康的煩惱，讓家人...</h2></div>
                        <div class="blog_category">
                            <div class="blog_cate">文章分類</div>
                            <div class="blog_date">2017/09/26</div>
                        </div>
                    </a>
                </div>
            </li>

            <li class="col-md-4 col-xs-12">
                <div class="post_inner">
                    <a href="#">
                        <div class="blog_thumbnail"><img src="@Url.Content("~/img/blog3.jpg")" alt=""></div>
                        <div class="blog_title"><h2>因人而食，就是在說如何因為一個偶像而吃得健康....</h2></div>
                        <div class="blog_category">
                            <div class="blog_cate">文章分類</div>
                            <div class="blog_date">2017/09/26</div>
                        </div>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</div>

<!--策展Banner-->
<div class="second_slider">
    <div class="second_slider_inner container">
        <div class="secondslider">
            <div>
                <a href="curation.php">
                    <img class="desk_main_banner" src="@Url.Content("~/img/banner_middle1.jpg")" alt="">
                    <img class="mobile_banner" src="@Url.Content("~/img/mobile_second_banner1.jpg")" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img class="desk_main_banner" src="@Url.Content("~/img/banner_middle1.jpg")" alt="">
                    <img class="mobile_banner" src="@Url.Content("~/img/mobile_second_banner1.jpg")" alt="">
                </a>
            </div>
        </div>
    </div>
    <script>
	        /* Slick 控件 */
	        $('.secondslider').slick({
	            nextArrow: '<i class="slick-next"><img src="@Url.Content("~/img/banner_arrow_right.svg")"></i>',
	            prevArrow: '<i class="slick-prev"><img src="@Url.Content("~/img/banner_arrow_left.svg")"></i>',
		        dots: false,
		        arrows: true,
		        infinite: true,
		        speed: 300,
		        cssEase: 'linear',
		        variableWidth: true,
		        centerMode: true,
	        });
    </script>
</div>

<!--品牌輪播區-->
<div class="brand_slide_area">
    <div class="container">
        <div class="brand_slides row">
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand1.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand2.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand3.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand4.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand5.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand1.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand2.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="b_slide_inner">
                    <a href="#">
                        <img src="@Url.Content("~/img/brand/brand3.png")" alt="">
                        <p>吉園圃蔬菜、生鮮及水果的食材綜合供應商</p>
                    </a>
                </div>
            </li>
        </div>
    </div>
    <script>
	    /* Slick 控件 */
	    $('.brand_slides').slick({
	        nextArrow: '<i class="slick-next"><img src="@Url.Content("~/img/banner_arrow_right.svg")"></i>',
	        prevArrow: '<i class="slick-prev"><img src="@Url.Content("~/img/banner_arrow_left.svg")"></i>',
		    dots: false,
		    arrows: true,
		    infinite: true,
		    slidesToShow: 5,
		    slidesToScroll: 3,
		    speed: 300,
		    cssEase: 'linear',
		    responsive:[
			    {
			    breakpoint: 1024,
				    settings:{
					    slidesToShow: 3,
					    slidesToScroll:3,
					    infinite: true,
				    }
			    },
			    {
			    breakpoint: 768,
				    settings:{
					    slidesToShow: 2,
					    slidesToScroll: 2,
					    infinite: true,
				    }
			    }
		    ]
	    });
    </script>
</div>

<div class="btn_area">
    <div class="container">
        <a href="brand_list.php" class="es_btn">看更多品牌</a>
    </div>
</div>