@charset "utf-8"; 
body{margin:0; font-family:'微軟正黑體',sans-serif; font-style:normal; font-size:93%; color:#666464; letter-spacing:0.05em; line-height:1.8em}
h1, h2, h3{margin:0}
img {max-width: 100%;}
.Width1200{width:1280px; margin-right:auto; margin-left:auto}
#gotop{width:3em; height:3em; display:none; position:fixed; right:20px; bottom:20px; background:#c9caca; opacity:0.5; border-radius:5px; color:#fff; cursor:pointer; text-align:center}
.BTClear{clear:both}
.zindex2{z-index:2}
.Padding2{padding:2%}
body header{background-image:url(../img/HeaderFBG.png); background-repeat:repeat-x; height:150px}
/*.GreenKeyLogo{float:left; width:150px}*/
.HeaderRight{/*margin-left:170px;*/ height:150px}
.NewsPaper{text-align:right; padding-top:35px; font-size:90%; color:#FFF}
.NewsPaper a:link{color:#FFF; text-decoration:none}
.NewsPaper a:visited{color:#FFF; text-decoration:none}
.NewsPaper a:hover{color:#FFF; text-decoration:none; border-bottom:1px dotted #FFF}
nav ul.navigation{margin-top:30px}
nav ul, li, a{margin:0; padding:0; text-decoration:none}
nav ul{list-style:none; text-align:center; line-height:1.2em; font-size:97%}
nav ul li{list-style:none; text-align:center; line-height:1.2em; font-size:97%}
nav ul.navigation li{position:relative; float:left}
.LiWidth142{width:12.5%}
nav ul.navigation li a{display:block; padding:10px 0px; background:#ffffff; color:#666464}
nav ul.navigation li a:hover{color:#666464; background:#dbeabc}
nav ul.navigation li:hover{background:#dbeabc; color:#666464}
nav ul.navigation ul{display:none; float:left; position:absolute; left:0; margin:0}
nav ul.navigation li:hover >ul{display:block}
nav ul.navigation ul li{border-bottom:1px solid #fff}
nav ul.navigation ul li:last-child{ border-bottom:none}
nav ul.navigation ul li:first-child{border-top:1px solid #fff}
nav ul.navigation ul a{ width:130px; padding:10px; color:#666464; background:#dbeabc}
nav ul.navigation ul a:hover{color:#FFF; background:#73bc39}

body footer{clear:both; background-color:#fff; /*padding-top:2%; */color:#666464}
footer .Copyright{font-size:90%; text-align:right; padding-top:0.3em; border-top:1px solid #666464; clear:both}

#container .BreadcrumbTrail{margin-bottom:1%}
#container .BreadcrumbTrail a:link{color:#666464; text-decoration:none}
#container .BreadcrumbTrail a:visited{color:#666464; text-decoration:none}
#container .BreadcrumbTrail a:hover{color:#73bc39; text-decoration:none}

#container .LoginArea{width:60%; margin-right:auto; margin-left:auto; margin-top:150px; margin-bottom:150px}
#container .LoginArea h1{font-size:150%; margin-top:0px; margin-right:0px; margin-bottom:1em; margin-left:0px; padding-left:1em; border-left:10px solid #79bc39}
.AddBtm{float:right; padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px; margin-bottom:10px; width:150px; text-align:center; background-color:#dcdddd; font-weight:bold}
.MainContent .Message{text-align:center; font-size:120%}
#SmallBuildNav{text-align:right; letter-spacing:0.25em; padding:2%; clear:right}
table.Search {
	border-left:10px solid #79bc39;
	margin-bottom: 20px;
}
table.Search td{
	padding:0 20px 0 20px;	
}
table.HTable{border-top-width:1px; border-top-style:solid; border-top-color:#c9caca; margin-bottom:15px; border-left-width:1px; border-left-style:solid; border-left-color:#c9caca}
table.HTable th{padding-top:10px; padding-bottom:10px; background-color:#f7f7f7; border-right:1px solid #c9caca; border-bottom:1px solid #c9caca}
table.HTable td{border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#c9caca; border-right-width:1px; border-right-style:solid; border-right-color:#c9caca; padding:20px; text-align:center}
table.HTable td.Articletitle{border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#c9caca; border-right-width:1px; border-right-style:solid; border-right-color:#c9caca; padding:20px; text-align:left}
table.STable{border-top-width:1px; border-top-style:solid; border-top-color:#c9caca; margin-bottom:15px}
table.STable th{padding-top:10px; padding-bottom:10px; background-color:#f7f7f7; border-right:1px solid #c9caca; border-bottom:1px solid #c9caca; border-left:10px solid #79bc39}
table.STable td{border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#c9caca; border-right-width:1px; border-right-style:solid; border-right-color:#c9caca; border-left-width:1px; border-left-style:solid; border-left-color:#c9caca; padding-top:10px; padding-bottom:10px; padding-left:5%; padding-right:5%}
table.STable td h2{margin-left:-5%}
table.STable td.TabelTitleType{border-right-color:#fff; border-left-color:#fff}
.TableStatus {float: left;width: 10%;text-align: center;}
TableTitle {width: 90%;margin-left: 10%;}
.Form100{width:96%; padding:2%; border:none; background:#efefef; border-radius:5px; margin:1% 0%}
.Form80{width:76%; padding:2%; border:none; background:#efefef; border-radius:5px; margin:1% 0%}
.Form20{width:16%; padding:2%; border:none; background:#efefef; border-radius:5px; margin:1% 0%}
.submitBtm{width:100%; padding-top:10px; padding-bottom:10px}
label.error{color:red; font-style:italic}
.MainContent h1{font-size:105%; color:#FFF; background-color:#73bc39; padding-top:0.2em; padding-right:1em; padding-bottom:0.2em; padding-left:1em; border-radius:5px; font-weight:bold}
.MainContent h2{background-image:url(../img/h2BG.png); background-repeat:no-repeat; padding-top:0.3em; padding-bottom:0.3em; padding-left:2.2em; font-size:110%; color:#28a756}
.MainContent h3{font-size:110%; color:#666464; padding-top:0.5em; padding-bottom:0.5em}
.MainContent p{margin-bottom:2em}
.MainContent ul{list-style-image:url(../img/LiPic.png); margin-top:0; padding-left:1.5em}
.MainContent a:link{color:#666464; text-decoration:none}
.MainContent a:visited{color:#666464}
.MainContent a:hover{color:#73bc39; text-decoration:none}

#container{width:1280px; margin-right:auto; margin-left:auto; clear:both; margin-top:1em}
#container .ContainerBG{background-image:url(../img/MainContentBG.png); background-repeat:repeat-y}
#container .MainContent{margin-left:285px; margin-bottom:2%; line-height:2em}

#container aside{float:left; width:250px; background-color:#f9fcf3; padding-top:2%; padding-bottom:2%; margin-bottom:2%; padding-right:15px}
#container aside h2{font-size:110%; margin-left:2em}
#container aside .sidebarMenu{border-left:1px solid #c9caca; margin-left:2.5em; padding-top:0.1em; padding-right:0em; padding-bottom:0.1em; padding-left:0em; margin-top:1em}
aside .sidebarMenu ul{margin:0px; padding:0px; list-style-type:none; line-height:2.5em; padding-left:1em}
aside .sidebarMenu a:link{color:#666464; text-decoration:none}
aside .sidebarMenu a:visited{color:#666464}
aside .sidebarMenu a:hover{color:#73bc39; text-decoration:none; border-bottom:1px dotted #73bc39}
aside .sidebarMenu .LiArrow li{margin-left:0.8em; list-style-image:url(../img/bullete_3.gif)}