﻿<footer>
    <div class="footerinner">
        <div class="f_social">
            <a href="#" target="_blank"><img src="@Url.Content("~/img/icon-social-f1.svg")" alt=""></a>
            <a href="https://line.me/R/ti/p/%40egk3245a" target="_blank"><img src="@Url.Content("~/img/icon-social-f2.svg")" alt=""></a>
            <a href="#" target="_blank"><img src="@Url.Content("~/img/icon-social-f3.svg")" alt=""></a>
        </div>
        <div class="f_links">
            <span class="f_dot"></span>
            <a href="aboutus.php">關於我們</a>
            <span class="f_dot"></span>
            <a href="member-benefits.php">會員權益</a>
            <span class="f_dot"></span>
            <a href="FAQ.php">常見問題</a>
            <span class="f_dot"></span>
            <a href="privacy.php">隱私權條款</a>
            <span class="f_dot"></span>
            <a href="policy.php">購物條款</a>
            <span class="f_dot"></span>
        </div>
    </div>
    <div class="footer_bar">© <a href="mailto:service@yonglinfarm.net">吉品養生股份有限公司</a> 2017 All Rights Reserved.</div>
</footer>