﻿<header>
    <div class="container">
        <div class="head_inner row">
            <div class="col-md-2 logo">
                <a href="index.php"><img src="@Url.Content("~/img/logo.svg")" alt=""></a>
            </div>
            <nav class="nav_menu col-md-10">
                <ul class="menu_inner">
                    <li class="menu_activity">
                        <a href="curation-Frosts_descent.php">
                            <svg width="25px" height="25px">
                                <path fill="#F77D48" d="M13.306,22.228 C13.041,22.228 12.787,22.123 12.599,21.935 L0.945,10.281 C0.747,10.083 0.641,9.809 0.653,9.528 L1.019,1.621 C1.043,1.109 1.45,0.697 1.962,0.669 L9.943,0.23 C10.232,0.214 10.505,0.32 10.706,0.521 L22.359,12.175 C22.75,12.566 22.75,13.198 22.359,13.589 L14.013,21.935 C13.826,22.123 13.571,22.228 13.306,22.228 L13.306,22.228 Z M2.672,9.179 L13.306,19.814 L20.238,12.882 L9.607,2.251 L2.975,2.616 L2.672,9.179 L2.672,9.179 Z" id="Fill-1" sketch:type="MSShapeGroup"></path>
                                <path fill="#F77D48" d="M7.646,10.675 C6.724,10.675 5.857,10.316 5.205,9.664 C4.553,9.012 4.194,8.144 4.194,7.222 C4.194,6.3 4.553,5.433 5.205,4.781 C6.508,3.477 8.783,3.477 10.087,4.781 C10.74,5.433 11.099,6.3 11.099,7.222 C11.099,8.144 10.74,9.012 10.087,9.664 C9.435,10.316 8.568,10.675 7.646,10.675 L7.646,10.675 Z M7.646,5.77 C7.258,5.77 6.894,5.921 6.619,6.195 C6.345,6.47 6.194,6.834 6.194,7.222 C6.194,7.61 6.345,7.975 6.619,8.249 C7.169,8.798 8.125,8.799 8.673,8.249 C8.948,7.975 9.099,7.61 9.099,7.222 C9.099,6.834 8.948,6.47 8.673,6.195 C8.399,5.921 8.034,5.77 7.646,5.77 L7.646,5.77 Z" id="Fill-2" sketch:type="MSShapeGroup"></path>
                            </svg>
                            10/23~11/7 一年補透透，不如補霜降
                        </a><div class="menu_bt_line"></div>
                    </li>
                    <li><a href="sharp.php">夏普智慧廚房家電</a><div class="menu_bt_line"></div></li>
                    <li><a href="program_list.php">八大飲食計畫</a><div class="menu_bt_line"></div></li>
                    <li><a href="brand_list.php">品牌館</a><div class="menu_bt_line"></div></li>
                    <li><a href="login.php">會員登入</a><div class="menu_bt_line"></div></li>
                    <!--登入時才出現menu-->
                    <li>
                        <a href="member_info.php">王小明 您好！</a><div class="menu_bt_line"></div>
                        <ul class="sub_menu">
                            <!--登入時才出現sub_menu-->
                            <li><a href="member_info.php">個人資料</a></li>
                            <li><a href="member_projects.php">訂閱飲食計畫</a></li>
                            <li><a href="member_products.php">商品訂單</a></li>
                            <!--<li><a href="member_coupons.php">折價券清單</a></li>-->
                            <li><a href="member_passbook.php">購物金存摺</a></li>
                        </ul>
                    </li>
                    <!--登入時才出現menu-->
                    <li class="menu_cart">
                        <a href="product_checkout.php">
                            <svg width="28px" height="25px">
                                <path fill="#46731E" d="M20.2430345,16.7712 L10.4584828,16.7712 C8.66551724,16.7712 7.14096552,15.43776 6.91213793,13.66944 L5.47931034,2.60448 L1.53324138,2.60448 C0.999310345,2.60448 0.567724138,2.17536 0.567724138,1.64448 C0.567724138,1.11456 0.999310345,0.68448 1.53324138,0.68448 L6.32896552,0.68448 C6.81462069,0.68448 7.224,1.04256 7.28675862,1.5216 L8.82868966,13.42464 C8.93296552,14.23776 9.63393103,14.8512 10.4584828,14.8512 L20.2430345,14.8512 C21.2993103,14.8512 22.2445517,14.18496 22.5950345,13.19424 L24.8562759,6.81216 L12.2533793,6.81216 C11.7204138,6.81216 11.2878621,6.38208 11.2878621,5.85216 C11.2878621,5.32224 11.7204138,4.89216 12.2533793,4.89216 L26.2195862,4.89216 C26.5333793,4.89216 26.8268966,5.04288 27.0084138,5.29728 C27.1889655,5.55168 27.2343448,5.87712 27.1310345,6.17088 L24.4169655,13.83264 C23.7951724,15.5904 22.1171034,16.7712 20.2430345,16.7712" id="Fill-1" sketch:type="MSShapeGroup"></path>
                                <path fill="#46731E" d="M9.59724138,23.73216 C7.99062069,23.73216 6.68524138,22.43328 6.68524138,20.8368 C6.68524138,19.24032 7.99062069,17.94144 9.59724138,17.94144 C11.2028966,17.94144 12.5092414,19.24032 12.5092414,20.8368 C12.5092414,22.43328 11.2028966,23.73216 9.59724138,23.73216 L9.59724138,23.73216 Z M9.59724138,19.86144 C9.05655172,19.86144 8.61627586,20.2992 8.61627586,20.8368 C8.61627586,21.37536 9.05655172,21.81216 9.59724138,21.81216 C10.137931,21.81216 10.5782069,21.37536 10.5782069,20.8368 C10.5782069,20.2992 10.137931,19.86144 9.59724138,19.86144 L9.59724138,19.86144 Z" id="Fill-2" sketch:type="MSShapeGroup"></path>
                                <path fill="#46731E" d="M21.5773793,23.73216 C19.9717241,23.73216 18.6644138,22.43328 18.6644138,20.8368 C18.6644138,19.24032 19.9717241,17.94144 21.5773793,17.94144 C23.1830345,17.94144 24.4884138,19.24032 24.4884138,20.8368 C24.4884138,22.43328 23.1830345,23.73216 21.5773793,23.73216 L21.5773793,23.73216 Z M21.5773793,19.86144 C21.0357241,19.86144 20.5954483,20.2992 20.5954483,20.8368 C20.5954483,21.37536 21.0357241,21.81216 21.5773793,21.81216 C22.1171034,21.81216 22.5573793,21.37536 22.5573793,20.8368 C22.5573793,20.2992 22.1171034,19.86144 21.5773793,19.86144 L21.5773793,19.86144 Z" id="Fill-3" sketch:type="MSShapeGroup"></path>
                                <path fill="#46731E" d="M19.629931,11.68032 L12.0689655,11.68032 C11.5350345,11.68032 11.1034483,11.25024 11.1034483,10.72032 C11.1034483,10.1904 11.5350345,9.76032 12.0689655,9.76032 L19.629931,9.76032 C20.1638621,9.76032 20.5954483,10.1904 20.5954483,10.72032 C20.5954483,11.25024 20.1638621,11.68032 19.629931,11.68032" id="Fill-4" sketch:type="MSShapeGroup"></path>
                            </svg>
                            <div class="cart_count">1</div>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="nav_swtich">
                <div class="menu_icon">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                </div>
            </div>
        </div>
    </div>
</header>