﻿<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="zh-tw">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>永齡鮮生&夏小姐</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- CSS -->
    <link rel="icon" href="@Url.Content("~/img/logo.ico")" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/slick.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/slick-theme.css")">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="@Url.Content("~/js/slick.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/script.js")"></script>

    @*@Styles.Render("~/css/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    @RenderSection("scripts", required: false)
</head>
<body>
    <!--HEADER-->
    @Html.Partial("_HeaderPartial")
    <!--HEADER END-->

    @RenderBody()

    <!--HEADER-->
    @Html.Partial("_FooterPartial")
    <!--HEADER END-->
</body>
</html>