﻿
@{
    ViewBag.Title = "ProgramList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="MainContent">
    <div class="BreadcrumbTrail"><img src="@Url.Content("~/img/LiPic.png")" width="6" height="9" alt="" /> 首頁 / 訂閱計畫管理</div>
    <h1>.:: 訂閱計畫清單</h1>
    <article class="Padding2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="" class="Search">
            <tr>
                <td width="80%"><input name="" type="search" required class="Form100" id="description1" placeholder="請輸入訂閱計畫關鍵字" value="" size="200" /></td>
                <td width="20%"><input name="submit" type="submit" class="submitBtm" id="submit" value="搜索" /> </td>
            </tr>
        </table>
        <div class="AddBtm"><a href="@Url.Action("AddProgram")">新增訂閱計畫</a></div>
        <div id="SmallBuildNav">« <a href="#">上一頁</a> <a href="#">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a> | <a href="#">5</a> <a href="#">下一頁</a> »</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="ProductList" class="HTable">
            <tr>
                <th width="10%">編號</th>
                <th width="20%">建立日期</th>
                <th width="30%">訂閱計畫</th>
                <th width="10%">有效訂閱數</th>
                <th width="10%">上架狀態</th>
                <th width="10%">編輯</th>
                <th width="10%">刪除</th>
            </tr>
            <tbody id="TableNo">
                <tr>
                    <td>1</td>
                    <td>2017/8/14</td>
                    <td><a href="https://www.on-target.com.tw/ECTable/program.html" target="_blank">夏普冰箱建生活專案</a></td>
                    <td>100</td>
                    <td>Y</td>
                    <td><a href="@Url.Action("EditProgram")"><img src="@Url.Content("~/img/bedit.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                    <td><a href="#"><img src="@Url.Content("~/img/delete.gif")" alt="edit" width="16" height="16" border="0" /></a></td>
                </tr>
            </tbody>
        </table>
        <div id="SmallBuildNav">« <a href="#">上一頁</a> <a href="#">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a> | <a href="#">5</a> <a href="#">下一頁</a> »</div>
    </article>
</section>