﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<link href="@Url.Content("~/css/date.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/jquery-ui.css")" rel="stylesheet" type="text/css" />   
<script language="JavaScript" type="text/javascript" src="@Url.Content("~/js/date/jquery-ui.js")"></script>

<script language="JavaScript" type="text/javascript" src="@Url.Content("~/js/date/jquery-ui-slide.min.js")"></script>
<script language="JavaScript" type="text/javascript" src="@Url.Content("~/js/date/jquery-ui-timepicker-addon.js")"></script>
<script language="JavaScript" type="text/javascript" src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<script>
    function getSubmit() {
        $("#SampleForm").submit();
    }

</script>  

@using (Html.BeginForm("Index", null, null, FormMethod.Post, new { @id = "SampleForm", @class = "form-horizontal", @enctype = "multipart/form-data" }))
{    
                <table cellpadding="0" cellspacing="0" width="750px">                  
                    <tr>
                        <td class="td_data">
                            <table cellpadding="6" cellspacing="0" width="100%">
                                <tr>
                                    <td class="style6" width="100"> 檔案名稱：</td>
                                    <td class="ColInput" align="left">
                                        <input type="file" id="UploadFile1" name="UploadFiles" size="90" /><br />
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style6" width="100"> 日期：</td>
                                    <td class="ColInput" align="left">
                                        @Html.TextBox("Sdate", "2017/5/1", new { @style = "width: 330px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="style6" width="100"> CkEditor：</td>
                                    <td class="ColInput" align="left">
                                        <textarea name="Content" class="ckeditor" id="Content"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="DataGridTail" colspan="2" height="35">
                                        <input type="button" value="上傳" id="btn_Submit" name="btn_Submit" onclick="getSubmit()" />                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
}
<script type="text/javascript">

     $.datepicker.regional['zh-TW'] = {
         dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
         dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
         monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
         monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
         prevText: "上月",
         nextText: "次月",
         weekHeader: "週",
         dateFormat: "yy/mm/dd"

     };
     $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);

     $('#Sdate').datepicker({ changeYear: true, changeMonth: true, yearRange: "2016:+5" });
</script> 
<script type="text/javascript">    
    CKEDITOR.replace('Content'
      , { filebrowserImageUploadUrl: '/CkEditor/UploadPicture' }
);

</script>